
:root {
  --primary-color: #cccccc;
  --secondary-color: #f2f2f2; 
}

#root{
  min-height: 100vh;
  padding: 48px 32px;
  display: flex;
  justify-content: space-around;
  position: relative;
}


.accordion-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s;

}

.inner-accordion-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;

}

.accordion-upper:hover{
  background-color: var(--primary-color);
}

.accordion-upper-visited{
  background-color:var(--primary-color);
}

.accordion{
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 4px;
  border: 2px solid var(--primary-color);
}

.inner-accordion{
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid var(--primary-color);
}

.flip-dropdown-down{
  transition: transform 0.4s linear;
  transform: rotate(180deg);
}
.flip-dropdown-up{
  transition: transform 0.1s linear;
  transform: rotate(0deg);
}

.children-show{
  animation: slideDown 0.4s ease-out forwards;
}

.children-hide{
  display: none;
}

@keyframes slideDown{
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.container{
  display:flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}


.accordion-container{
  display:flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.accordion-container * {
  font-size: 16px;
}

.hide{
  display: none
}




.base-input{
  display:flex; 
  flex-direction: column;
  gap: 4px;
}

.no-label-input{
  width: 100%;
}

.input-menu{
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-menu-layer-shared > * {
  width: 100%;
}

.text-label{
  padding: 4px;
  padding-left: 12px;
  border: none;
  border-radius: 4px;
}

.text-label:focus{
  border: none;
  outline: none;
}

.add-item-button{
  align-self: flex-end;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.add-item-button:hover{
  cursor: pointer;
  color: blue;

}

.delete-btn{
  cursor: pointer;
  transition: fill 0.5s;
}

.delete-btn:hover{
  fill: red;
}

.input-list-item{
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid var(--primary-color);
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.input-list-item input{
  width: 100%;
}

input, textarea{
  background-color: var(--secondary-color);
}

.section-buttons{
  display: flex;
  gap: 24px;
  align-self: end;
}

.link-item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.tool{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 8px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  outline: 2px solid transparent;
  cursor: pointer;
}

.toolbar{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 16px;
  position: fixed; 
  right: 12px;
  bottom: 48px;
}

.tool:hover{
    outline: 2px solid red; 
    box-shadow: none; 
}

.upper-content{
  display: flex;
  justify-content: space-between;
}

.toggle-button{
  display: block
}

@media (width <= 40rem) { 
  #root{
    padding: 12px;
  }

  .accordion-container{
    width: 95%;
  }

  #root{
    min-height: auto;
    height: 100vh;
  }
}

@media (width < 72rem) {
  .toolbar{
    right: 0; 
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    background-color: white;
    border-top: #8C5A3C 1px solid;
  }
}

@media (width >= 72rem){

  .input-menu-layer-shared{
    display: flex;
    justify-content: space-between;
  }

  .input-menu-layer-shared > * {
    width: 45%;
  }

  .toggle-button{
    display: none
  }

  .hide{
    display: flex;
  }

}


