
.accordion-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
}

.inner-accordion-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
}

.accordion-upper:hover{
  background-color: rgb(243, 141, 8);
}

.accordion-upper-visited{
  background-color: rgb(243, 141, 8);
}

.accordion{
  background-color: bisque;
  border-radius: 6px;
  width: 560px;
  padding: 4px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.inner-accordion{
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid rgb(243, 141, 8);
}

.flip-dropdown-down{
  transition: transform 0.4s linear;
  transform: rotate(180deg);
}
.flip-dropdown-up{
  transition: transform 0.1s linear;
  transform: rotate(0deg);
}

.children-show{
  animation: slideDown 0.4s ease-out forwards;
}

.children-hide{
  display: none;
}

@keyframes slideDown{
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.container{
  display:flex;
  flex-direction: column;
  gap: 24px;
}

#page{
  width: 595px;
  height: 842px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 32px;
  overflow-wrap: normal;
}

.main{
  padding: 48px 32px;
  display: flex;
  gap: 48px;
}


.base-input{
  display:flex; 
  flex-direction: column;
  gap: 4px;
}

.input-menu{
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-menu-layer-shared{
  display: flex;
  justify-content: space-between;
}

.input-menu-layer-shared > * {
  width: 200px;
}

.text-label{
  padding: 4px;
  padding-left: 12px;
  border: none;
  border-radius: 4px;
}

.text-label:focus{
  border: none;
  outline: none;
}

.add-item-button{
  align-self: flex-end;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.add-item-button:hover{
  cursor: pointer;
  color: blue;

}

.delete-btn{
  cursor: pointer;
}

.delete-btn:hover{
  transform: scale(1.2);
}